h1.title {font-size: 30pt;}
h1 {font-size: 28pt;}
h2 {font-size: 24pt;}
h3 {font-size: 20pt;}
h4 {font-size: 18pt;}
h5 {font-size: 16pt;}
body {
  font-family: "Times New Roman";
  font-size: 16pt;
}
.tocify-subheader > .tocify-item {
  text-indent: initial;
  padding-left: 2em;
}
